<footer class="main">
  <div class="container pb-20 wow fadeIn animated">
      <div class="row">
          <div class="col-12 mb-20">
              <div class="footer-bottom"></div>
          </div>
          <div class="col-lg-6">
              <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
          </div>
          <div class="col-lg-6">
              <p class="text-lg-end text-start font-sm text-muted mb-0">
                  Designed by <a href="http://alithemes.com" target="_blank">Alithemes.com</a>. All rights reserved
              </p>
          </div>
      </div>
  </div>
</footer>

